BUSINESS PROBLEM
A healthcare provider aims to improve the early detection and diagnosis of thyroid cancer, thereby enhancing patient outcomes and reducing healthcare costs. By leveraging patient data, including demographics, medical history, lifestyle factors, and thyroid hormone levels, the provider seeks to develop predictive models and risk stratification tools that aid clinicians in making more informed decisions regarding patient management and follow-up.

OBJECTIVES
1.Develop and validate a machine learning model that accurately predicts the risk of thyroid cancer (Diagnosis: Benign/Malignant) based on patient data.
2.Identify Key Risk Factors: Determine the most influential factors (e.g., age, family history, TSH levels) associated with thyroid cancer risk. 
3. Improve Risk Stratification: Enhance the current risk stratification process (Thyroid_Cancer_Risk: Low/Medium/High) by developing a more precise and data-driven approach.

DATA UNDERSTANDING
Patient_ID (int): Unique identifier for each patient.
Age (int): Age of the patient.
Gender (object): Patient’s gender (Male/Female).
Country (object): Country of residence.
Ethnicity (object): Patient’s ethnic background.
Family_History (object): Whether the patient has a family history of thyroid cancer (Yes/No).
Radiation_Exposure (object): History of radiation exposure (Yes/No).
Iodine_Deficiency (object): Presence of iodine deficiency (Yes/No).
Smoking (object): Whether the patient smokes (Yes/No).
Obesity (object): Whether the patient is obese (Yes/No).
Diabetes (object): Whether the patient has diabetes (Yes/No).
TSH_Level (float): Thyroid-Stimulating Hormone level (µIU/mL).
T3_Level (float): Triiodothyronine level (ng/dL).
T4_Level (float): Thyroxine level (µg/dL).
Nodule_Size (float): Size of thyroid nodules (cm).
Thyroid_Cancer_Risk (object): Estimated risk of thyroid cancer (Low/Medium/High).
Diagnosis (object): Final diagnosis (Benign/Malignant).

In [1]:
# importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# loading the dataset
df = pd.read_csv('thyroid_cancer_risk_data.csv')
# checking the first 5 rows
df.head()

,Patient_ID,Age,Gender,Country,Ethnicity,Family_History,Radiation_Exposure,Iodine_Deficiency,Smoking,Obesity,Diabetes,TSH_Level,T3_Level,T4_Level,Nodule_Size,Thyroid_Cancer_Risk,Diagnosis
0,1,66,Male,Russia,Caucasian,No,Yes,No,No,No,No,9.37,1.67,6.16,1.08,Low,Benign
1,2,29,Male,Germany,Hispanic,No,Yes,No,No,No,No,1.83,1.73,10.54,4.05,Low,Benign
2,3,86,Male,Nigeria,Caucasian,No,No,No,No,No,No,6.26,2.59,10.57,4.61,Low,Benign
3,4,75,Female,India,Asian,No,No,No,No,No,No,4.10,2.62,11.04,2.46,Medium,Benign
4,5,35,Female,Germany,African,Yes,Yes,No,No,No,No,9.10,2.11,10.71,2.11,High,Benign

In [4]:
# checking the last 5 rows
df.tail()

,Patient_ID,Age,Gender,Country,Ethnicity,Family_History,Radiation_Exposure,Iodine_Deficiency,Smoking,Obesity,Diabetes,TSH_Level,T3_Level,T4_Level,Nodule_Size,Thyroid_Cancer_Risk,Diagnosis
212686,212687,58,Female,India,Asian,No,No,No,No,Yes,No,2.00,0.64,11.92,1.48,Low,Benign
212687,212688,89,Male,Japan,Middle Eastern,No,No,No,No,Yes,No,9.77,3.25,7.30,4.46,Medium,Benign
212688,212689,72,Female,Nigeria,Hispanic,No,No,No,No,No,Yes,7.72,2.44,8.71,2.36,Medium,Benign
212689,212690,85,Female,Brazil,Middle Eastern,No,No,No,No,No,Yes,5.62,2.53,9.62,1.54,Medium,Benign
212690,212691,46,Female,Japan,Middle Eastern,No,No,No,Yes,No,No,5.60,2.73,10.59,2.53,Low,Malignant

In [5]:
# checking data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212691 entries, 0 to 212690
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Patient_ID           212691 non-null  int64
 1   Age                  212691 non-null  int64
 2   Gender               212691 non-null  object
 3   Country              212691 non-null  object
 4   Ethnicity            212691 non-null  object
 5   Family_History       212691 non-null  object
 6   Radiation_Exposure   212691 non-null  object
 7   Iodine_Deficiency    212691 non-null  object
 8   Smoking              212691 non-null  object
 9   Obesity              212691 non-null  object
 10  Diabetes             212691 non-null  object
 11  TSH_Level            212691 non-null  float64
 12  T3_Level             212691 non-null  float64
 13  T4_Level             212691 non-null  float64
 14  Nodule_Size          212691 non-null  float64
 15  Thyroid_Cancer_Risk  212691 non-null  object
 16  Diagnosis            212691 non-null  object
dtypes: float64(4), int64(2), object(11)
memory usage: 27.6+ MB

In [6]:
df.describe()

,Patient_ID,Age,TSH_Level,T3_Level,T4_Level,Nodule_Size
count,212691.00000,212691.000000,212691.000000,212691.000000,212691.000000,212691.000000
mean,106346.00000,51.918497,5.045102,2.001727,8.246204,2.503403
std,61398.74739,21.632815,2.860264,0.866248,2.164188,1.444631
min,1.00000,15.000000,0.100000,0.500000,4.500000,0.000000
25%,53173.50000,33.000000,2.570000,1.250000,6.370000,1.250000
50%,106346.00000,52.000000,5.040000,2.000000,8.240000,2.510000
75%,159518.50000,71.000000,7.520000,2.750000,10.120000,3.760000
max,212691.00000,89.000000,10.000000,3.500000,12.000000,5.000000

DATA PREPARATION
DATA CLEANING

In [7]:
# Checking missing values 
df.isna().sum()

Patient_ID             0
Age                    0
Gender                 0
Country                0
Ethnicity              0
Family_History         0
Radiation_Exposure     0
Iodine_Deficiency      0
Smoking                0
Obesity                0
Diabetes               0
TSH_Level              0
T3_Level               0
T4_Level               0
Nodule_Size            0
Thyroid_Cancer_Risk    0
Diagnosis              0
dtype: int64

In [8]:
# there are no missing values in this data set

In [9]:
# checking duplicates
df.duplicated().sum()

0

In [10]:
# there are no duplicates in this data set.

In [11]:
# feature engineering
df.columns

Index(['Patient_ID', 'Age', 'Gender', 'Country', 'Ethnicity', 'Family_History',
       'Radiation_Exposure', 'Iodine_Deficiency', 'Smoking', 'Obesity',
       'Diabetes', 'TSH_Level', 'T3_Level', 'T4_Level', 'Nodule_Size',
       'Thyroid_Cancer_Risk', 'Diagnosis'],
      dtype='object')

In [13]:
# Lifestyle risk evaluation
#df['lifestyle_score'] = df['Diabetes']+ df['Obesity']+ df['Smoking']
#df.head()

,Patient_ID,Age,Gender,Country,Ethnicity,Family_History,Radiation_Exposure,Iodine_Deficiency,Smoking,Obesity,Diabetes,TSH_Level,T3_Level,T4_Level,Nodule_Size,Thyroid_Cancer_Risk,Diagnosis,lifestyle_score
0,1,66,Male,Russia,Caucasian,No,Yes,No,No,No,No,9.37,1.67,6.16,1.08,Low,Benign,NoNoNo
1,2,29,Male,Germany,Hispanic,No,Yes,No,No,No,No,1.83,1.73,10.54,4.05,Low,Benign,NoNoNo
2,3,86,Male,Nigeria,Caucasian,No,No,No,No,No,No,6.26,2.59,10.57,4.61,Low,Benign,NoNoNo
3,4,75,Female,India,Asian,No,No,No,No,No,No,4.10,2.62,11.04,2.46,Medium,Benign,NoNoNo
4,5,35,Female,Germany,African,Yes,Yes,No,No,No,No,9.10,2.11,10.71,2.11,High,Benign,NoNoNo

In [14]:
# nodule size categorization
df['Nodule_Size'].unique()

array([1.08, 4.05, 4.61, 2.46, 2.11, 0.02, 0.01, 4.3 , 0.81, 1.44, 0.35,
       3.87, 4.15, 0.38, 1.68, 2.86, 0.25, 4.93, 1.63, 2.27, 2.41, 0.46,
       4.79, 3.63, 4.64, 4.22, 1.54, 4.26, 4.  , 3.06, 0.04, 3.4 , 0.17,
       0.09, 2.68, 3.9 , 3.76, 3.65, 1.14, 3.56, 3.57, 3.15, 4.21, 1.66,
       0.71, 4.27, 0.86, 2.7 , 1.25, 2.18, 1.09, 2.54, 4.99, 1.57, 1.64,
       1.75, 2.59, 2.55, 2.83, 1.06, 3.25, 2.32, 0.26, 2.01, 2.04, 1.76,
       0.72, 4.49, 0.42, 4.88, 0.24, 3.29, 2.5 , 0.84, 3.5 , 4.23, 3.3 ,
       3.01, 3.31, 1.3 , 0.77, 2.19, 4.47, 4.54, 3.36, 3.17, 3.91, 2.78,
       0.73, 4.77, 3.59, 0.37, 2.03, 0.19, 2.71, 1.17, 4.08, 2.77, 2.6 ,
       4.78, 1.59, 2.05, 4.01, 4.67, 0.44, 0.95, 3.81, 0.29, 1.11, 3.93,
       2.75, 0.83, 1.39, 1.02, 0.47, 4.04, 3.53, 4.12, 4.83, 3.69, 1.38,
       1.33, 4.81, 4.39, 0.65, 1.47, 0.18, 1.23, 1.05, 0.3 , 2.48, 0.92,
       2.69, 2.22, 0.66, 2.02, 0.15, 4.96, 3.09, 4.06, 1.22, 3.54, 0.23,
       0.68, 3.08, 1.37, 3.64, 1.1 , 0.27, 1.95, 4.7 , 4.71, 3.16, 2.82,
       0.2 , 4.19, 3.14, 0.33, 3.8 , 0.82, 4.25, 3.94, 3.97, 2.72, 3.32,
       2.4 , 4.65, 4.35, 2.67, 2.37, 2.33, 2.14, 3.55, 1.15, 1.79, 4.62,
       0.48, 1.91, 0.06, 2.23, 1.16, 3.19, 3.61, 3.41, 1.28, 4.94, 1.19,
       2.85, 2.61, 0.07, 1.41, 0.13, 0.03, 2.8 , 2.  , 0.91, 1.36, 3.24,
       4.11, 2.44, 4.63, 3.95, 2.88, 3.83, 2.34, 2.52, 0.59, 0.39, 4.55,
       4.87, 1.86, 0.05, 0.98, 1.7 , 1.82, 2.26, 3.51, 3.33, 0.97, 4.85,
       3.86, 2.94, 2.58, 1.07, 4.89, 1.27, 0.22, 2.81, 1.93, 2.07, 2.21,
       1.99, 3.67, 2.53, 1.21, 4.02, 1.45, 0.45, 4.4 , 4.14, 0.52, 4.97,
       4.92, 0.49, 4.46, 1.97, 2.36, 1.31, 0.76, 0.16, 1.71, 2.51, 0.31,
       2.42, 4.44, 4.31, 2.15, 3.73, 3.52, 0.79, 3.03, 4.8 , 2.87, 0.64,
       4.28, 4.36, 2.43, 0.61, 3.85, 0.32, 4.68, 2.17, 4.59, 0.58, 3.82,
       1.42, 2.66, 3.2 , 3.23, 1.46, 2.9 , 2.95, 4.5 , 2.45, 2.98, 3.48,
       1.43, 3.44, 4.16, 1.18, 1.13, 4.66, 1.04, 3.42, 0.93, 2.09, 3.75,
       1.84, 3.45, 2.97, 2.91, 1.81, 2.12, 3.43, 3.7 , 0.94, 3.  , 2.08,
       0.9 , 0.14, 4.98, 0.56, 3.27, 2.29, 1.48, 4.07, 2.24, 3.28, 4.51,
       4.91, 3.68, 4.72, 0.6 , 1.87, 4.76, 1.61, 1.55, 1.89, 0.12, 3.13,
       0.96, 3.58, 4.48, 0.11, 3.74, 0.85, 2.76, 1.53, 0.74, 1.83, 2.89,
       4.37, 4.2 , 2.3 , 3.89, 2.93, 3.71, 0.08, 4.57, 3.46, 0.21, 1.03,
       4.84, 4.56, 3.79, 3.18, 2.74, 1.77, 4.34, 2.57, 0.43, 4.73, 4.17,
       1.2 , 4.18, 2.16, 0.54, 3.78, 1.65, 3.12, 0.89, 3.49, 1.8 , 0.63,
       2.92, 4.24, 1.62, 3.92, 3.21, 4.75, 2.96, 3.07, 2.1 , 3.66, 1.58,
       0.67, 3.77, 2.35, 1.72, 3.1 , 0.99, 3.98, 0.1 , 0.53, 3.88, 0.62,
       4.09, 0.8 , 0.51, 3.96, 4.1 , 1.26, 2.56, 3.02, 3.38, 1.74, 0.75,
       3.34, 0.5 , 1.12, 3.11, 1.6 , 3.72, 0.88, 1.94, 4.82, 1.9 , 0.34,
       1.78, 1.35, 4.74, 4.33, 2.63, 3.26, 1.  , 3.04, 1.4 , 1.85, 0.69,
       1.56, 4.9 , 4.13, 2.64, 1.32, 0.7 , 0.  , 3.22, 2.31, 0.87, 2.73,
       1.5 , 1.92, 1.88, 0.36, 3.62, 1.67, 2.99, 0.28, 4.03, 3.35, 4.32,
       3.37, 2.06, 4.41, 5.  , 3.99, 2.84, 0.57, 0.41, 1.52, 2.38, 2.49,
       4.43, 1.24, 3.47, 1.98, 4.45, 1.34, 1.96, 2.13, 4.95, 4.52, 2.47,
       4.69, 3.05, 0.55, 4.53, 4.58, 3.39, 4.38, 2.28, 2.65, 3.84, 0.78,
       1.49, 0.4 , 2.25, 4.29, 2.79, 1.73, 3.6 , 2.39, 1.01, 4.6 , 1.29,
       1.51, 4.42, 2.62, 1.69, 2.2 , 4.86])